<html>
<head>
<link href="emplcss.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<form action="url_for('details')" method="post">
<li>Company Name <input type="text" name="Company Name"></li>
<li>Location <input type="text" name="Location"></li>
<li>Pin Code <input type="text" name="Status"></li>
<li>Experienced Required <input type="number" name="Experienced"></li>
<li>Job Status <input type="text" name="Status"></li>
<li>Job Type<input type="text" name="Job Type"></li>
<li>Requirements</li>
<ol>
<li><input type="checkbox" value="10th Pass" >10th Pass</li>
<li><input type="checkbox" value="12th Pass" >12th Pass</li>
<li><input type="checkbox" value="B.Tech" >B.Tech</li>
<li><input type="checkbox" value="BBA" >BBA</li>
<li><input type="checkbox" value="B.Com" >B.Com</li>
<li><input type="checkbox" value="M.Com" >M.Com</li>
<li><input type="checkbox" value="MBA" >MBA</li>
<li><input type="checkbox" value="M.Tech" >M.Tech</li>
</ol>
</li>
<li><input type="submit" name="login" value="Log In"></li>
</form>
</body>